@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    117 Rue Saint-Servais<br />
    Lischert, BE 6717<br />
    <abbr title="Phone">P:</abbr>
    0494.08.64.82
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Louison.Hernoux@gmail.com">Louison.Hernoux@gmail.com</a><br />
</address>