@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:rgb(157, 114, 242)">
    <h1>Challenger</h1>
    <p class="lead">Challenger is a free web application on which you can make prognostics about future ESports matches.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Create an account @Html.ActionLink("here", "Register", "User")
        <br/>Or @Html.ActionLink("login", "Login", "User")</p>
        <p><a class="btn btn-default" href="/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Creating Prognostics</h2>
        <p>You can make your own Prognostics in a few clicks by going @Html.ActionLink("there", "Register", "Bet")</p>
        <p><a class="btn btn-default" href="/Bet/Register">Create Prognostics &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Check your friends results!</h2>
        <p>You can easily check your friend's prognostics and results by visiting their profiles</p>
        <p><a class="btn btn-default" href="/User/Details">Learn more &raquo;</a></p>
    </div>
</div>