@model ASP_Front.Models.ViewModels.Bet.TeamForm

<select name="TeamId" id="teamsSelect">
    @foreach (var team in Model.teams)
    {
        <option data-url="@team.ImageURL" value="@team.Id">@team.Name</option>
    }
</select>

